body{
   background-color: rgb(0, 0, 0);
   color:rgb(77, 54, 246);
    
}
h1,h2{
    font-family: 'Teko', sans-serif;
    color: rgb(21, 211, 208);
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    margin: 10px 10px;
}
p{
    font-size: 20px;
    text-align: center;
    margin: 0px 10%;
}
.hackimg{
     margin-left: 250px ;
}
ol li{
    text-align: center;
    margin: 0px 10%;
}